doctype html
html(lang='en')
    head
        title DevTips Starter Kit
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='assets/css/main.css')
        link(href="https://fonts.googleapis.com/css?family=Old+Standard+TT:700" rel="stylesheet")
        
    body
        
      #countdown
        .text
        
      #detail
        .detail-text
          ul
            li.days
            li.hours
            li.minutes  
      script(src='assets/js/jquery.js', type='text/javascript')
      script(src="assets/js/tinycolor.js", type="text/javascript")
      script(src='assets/js/functions.js', type='text/javascript')
      script(src='assets/js/data.js', type='text/javascript')
      script(src='assets/js/tools.js', type='text/javascript')
